<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body style='background: #EEEEEE'>
<center>
    <p><img src="https://api.7shopday.com/images/mail/log.png" style="margin-top: 30px;margin-bottom: 30px;"></p>
</center>
<center>

    <table style="width: 562px; height:800px;display:inline-block;margin: 0 auto; background: #FFFFFF">
        <thead style="height: 250px;display:inline-block;width:100%;background: url('https://api.7shopday.com/images/mail/bg.png'); ">
        <tr>
            <td>
                <p style='text-align: center;width: 554px;margin-top: 3px;font-size: 33px;padding: 84px;box-sizing: border-box;color: #fff;font-family: "Roboto", sans-serif;'>Подтверждение регистрации</p>
            </td>
        </tr>
        </thead>
        <tbody style="padding: 80px;display: inherit;font-family: 'Roboto', sans-serif">
        <tr>
            <td>
                <p>Здравствуйте уважаемый <span style="font-weight: 600">{{formatted.user_name}}!</span></p>
                <p style="margin-top: 45px;">Код верификации восстановления пароля для сайта 7SHOPDAY.COM</p>
                <p style="font-size: 14px">Если Вы не отправляли заявку, игнорируйте это сообщение.</p>
                <a href="{{formatted.backurl}}" style='background: #4A76A8; display: inline-block; text-align: center; text-decoration: none; font-size: 18px; border: 1px solid #4A76A8;color: #fff;padding: 15px;border-radius: 5px;font-family: "Roboto", sans-serif;margin-top: 50px;width: 100%;'>
                    Код верификации {{formatted.ver_code}}
                </a>
                <p style="margin-top: 75px;font-family: "Roboto", sans-serif;">С уважением, команда 7SHOPDAY.COM </p>
            </td>
        </tr>
        </tbody>

    </table>
</center>


</body>
</html>